# Default ignored files
/../../Drone Project /.idea/shelf/
/../../Drone Project /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Drone Project /.idea/httpRequests/
# Datasource local storage ignored files
/../../Drone Project /.idea/dataSources/
/../../Drone Project /.idea/dataSources.local.xml
